PORT=4000
MONGO_URI=mongodb://localhost:27017/ecommerce
CLIENT_URL=http://localhost:3000
JWT_SECRET=tu_secreto_jwt
JWT_REFRESHTOKEN=tu_secreto_refresh
STRIPE_SECRET_KEY=sk_test_xxx
RESEND_API_KEY=re_xxx
RESEND_FROM=Soporte E-Commerce <tudominio@tudominio.com>
SENTRY_DSN=https://tu_dsn@sentry.io/xxx
NODE_ENV=development