PORT=4000
MONGO_URI=mongodb://localhost:27017/ecommerce
CLIENT_URL=http://localhost:3000
JWT_SECRET=tu_secreto_jwt
JWT_REFRESHTOKEN=tu_secreto_refresh
STRIPE_SECRET_KEY=sk_test_xxx
USER_EMAIL=tu_correo@gmail.com
PASS_EMAIL=tu_password_o_app_password
NODE_ENV=development